Repository Lola-bunny-owo/TimeFlix-Icon2024, pull requests merged in 2024-09, with the labels that each got.

#9 Creato nuovo file di preprocessing, rimosse le colonne
  __pycache__/eda.cpython-312.pyc
  __pycache__/preprocessing.cpython-312.pyc
  eda.py
  main.py
  preprocessing.py
Labels: preprocessing

#11 Dataset stuff
  __pycache__/preprocessing.cpython-312.pyc
  main.py
  momentanea per codice/info_importanti.txt
  preprocessing.py
Labels: preprocessing

#19 Finite le basi per il filtraggio e l'interfaccia
  __pycache__/interface.cpython-312.pyc
  __pycache__/preprocessing.cpython-312.pyc
  dejavufonts/AUTHORS
  dejavufonts/BUGS
  dejavufonts/LICENSE
  dejavufonts/NEWS
  dejavufonts/README.md
  dejavufonts/fontconfig/20-unhint-small-dejavu-sans-mono.conf
  dejavufonts/fontconfig/20-unhint-small-dejavu-sans.conf
  dejavufonts/fontconfig/20-unhint-small-dejavu-serif.conf
  dejavufonts/fontconfig/57-dejavu-sans-mono.conf
  dejavufonts/fontconfig/57-dejavu-sans.conf
  dejavufonts/fontconfig/57-dejavu-serif.conf
  dejavufonts/langcover.txt
  dejavufonts/status.txt
  dejavufonts/ttf/DejaVuMathTeXGyre.ttf
  dejavufonts/ttf/DejaVuSans-Bold.ttf
  dejavufonts/ttf/DejaVuSans-BoldOblique.ttf
  dejavufonts/ttf/DejaVuSans-ExtraLight.ttf
  dejavufonts/ttf/DejaVuSans-Oblique.ttf
  dejavufonts/ttf/DejaVuSans.ttf
  dejavufonts/ttf/DejaVuSansCondensed-Bold.ttf
  dejavufonts/ttf/DejaVuSansCondensed-BoldOblique.ttf
  dejavufonts/ttf/DejaVuSansCondensed-Oblique.ttf
  dejavufonts/ttf/DejaVuSansCondensed.ttf
  dejavufonts/ttf/DejaVuSansMono-Bold.ttf
  dejavufonts/ttf/DejaVuSansMono-BoldOblique.ttf
  dejavufonts/ttf/DejaVuSansMono-Oblique.ttf
  dejavufonts/ttf/DejaVuSansMono.ttf
  dejavufonts/ttf/DejaVuSerif-Bold.ttf
  dejavufonts/ttf/DejaVuSerif-BoldItalic.ttf
  dejavufonts/ttf/DejaVuSerif-Italic.ttf
  dejavufonts/ttf/DejaVuSerif.cw127.pkl
  dejavufonts/ttf/DejaVuSerif.pkl
  dejavufonts/ttf/DejaVuSerif.ttf
  dejavufonts/ttf/DejaVuSerifCondensed-Bold.ttf
  dejavufonts/ttf/DejaVuSerifCondensed-BoldItalic.ttf
  dejavufonts/ttf/DejaVuSerifCondensed-Italic.ttf
  dejavufonts/ttf/DejaVuSerifCondensed.ttf
  dejavufonts/unicover.txt
  interface.py
  main.py
  momentanea per codice/codice scartato.txt
  momentanea per codice/info_importanti.txt
  preprocessing.py
  tempCodeRunnerFile.py
Labels: interface

#24 Aggiunta presa del giorno della settimana e orario preferito
  Netflix_Recommendations_and_Schedule.pdf
  __pycache__/eda.cpython-311.pyc
  __pycache__/interface.cpython-311.pyc
  __pycache__/preprocessing.cpython-311.pyc
  interface.py
  user_preferences.json
Labels: interface

#29 Apprendimento non sup
  Netflix_Recommendations_and_Schedule.pdf
  __pycache__/apprNonSup.cpython-312.pyc
  __pycache__/apprendimentoNonSupervisionato.cpython-312.pyc
  __pycache__/eda.cpython-312.pyc
  __pycache__/interface.cpython-312.pyc
  __pycache__/preprocessing.cpython-312.pyc
  apprNonSup.py
  main.py
  momentanea per codice/codice scartato.txt
  preprocessing.py
  user_preferences.json
Labels: Apprendimento Non Sup

#42 Sistemato un po' il pdf graficamente
  Netflix_Recommendations_and_Schedule.pdf
  __pycache__/appSup.cpython-312.pyc
  __pycache__/apprNonSup.cpython-312.pyc
  __pycache__/csp.cpython-312.pyc
  __pycache__/eda.cpython-312.pyc
  __pycache__/interface.cpython-312.pyc
  __pycache__/preprocessing.cpython-312.pyc
  apprNonSup.py
  font/LiberationMono-Bold.pkl
  font/LiberationMono-Bold.ttf
  font/LiberationMono-Regular.cw127.pkl
  font/LiberationMono-Regular.pkl
  font/LiberationMono-Regular.ttf
  interface.py
  preferred_content_output.txt
  user_preferences.json
Labels: interface

#43 Fix vari sull'interfaccia, fix dei duplicati
  __pycache__/apprNonSup.cpython-312.pyc
  __pycache__/interface.cpython-312.pyc
  apprNonSup.py
  interface.py
  preferred_content_output.txt
Labels: interface

#46 Fine integrazione del Naive Bayes
  __pycache__/appProb.cpython-312.pyc
  __pycache__/apprNonSup.cpython-312.pyc
  __pycache__/eda.cpython-312.pyc
  __pycache__/interface.cpython-312.pyc
  __pycache__/preprocessing.cpython-312.pyc
  appProb.py
  dataset/time_preferences_balanced.csv
  dejavufonts/AUTHORS
  dejavufonts/BUGS
  dejavufonts/LICENSE
  dejavufonts/NEWS
  dejavufonts/README.md
  dejavufonts/fontconfig/20-unhint-small-dejavu-sans-mono.conf
  dejavufonts/fontconfig/20-unhint-small-dejavu-sans.conf
  dejavufonts/fontconfig/20-unhint-small-dejavu-serif.conf
  dejavufonts/fontconfig/57-dejavu-sans-mono.conf
  dejavufonts/fontconfig/57-dejavu-sans.conf
  dejavufonts/fontconfig/57-dejavu-serif.conf
  dejavufonts/langcover.txt
  dejavufonts/status.txt
  dejavufonts/ttf/DejaVuMathTeXGyre.ttf
  dejavufonts/ttf/DejaVuSans-Bold.ttf
  dejavufonts/ttf/DejaVuSans-BoldOblique.ttf
  dejavufonts/ttf/DejaVuSans-ExtraLight.ttf
  dejavufonts/ttf/DejaVuSans-Oblique.ttf
  dejavufonts/ttf/DejaVuSans.ttf
  dejavufonts/ttf/DejaVuSansCondensed-Bold.ttf
  dejavufonts/ttf/DejaVuSansCondensed-BoldOblique.ttf
  dejavufonts/ttf/DejaVuSansCondensed-Oblique.ttf
  dejavufonts/ttf/DejaVuSansCondensed.ttf
  dejavufonts/ttf/DejaVuSansMono-Bold.ttf
  dejavufonts/ttf/DejaVuSansMono-BoldOblique.ttf
  dejavufonts/ttf/DejaVuSansMono-Oblique.ttf
  dejavufonts/ttf/DejaVuSansMono.ttf
  dejavufonts/ttf/DejaVuSerif-Bold.ttf
  dejavufonts/ttf/DejaVuSerif-BoldItalic.ttf
  dejavufonts/ttf/DejaVuSerif-Italic.ttf
  dejavufonts/ttf/DejaVuSerif.cw127.pkl
  dejavufonts/ttf/DejaVuSerif.pkl
  dejavufonts/ttf/DejaVuSerif.ttf
  dejavufonts/ttf/DejaVuSerifCondensed-Bold.ttf
  dejavufonts/ttf/DejaVuSerifCondensed-BoldItalic.ttf
  dejavufonts/ttf/DejaVuSerifCondensed-Italic.ttf
  dejavufonts/ttf/DejaVuSerifCondensed.ttf
  dejavufonts/unicover.txt
  eda.py
  main.py
  momentanea per codice/codice scartato.txt
  preferred_content_output.txt
  preprocessing.py
  tempCodeRunnerFile.py
Labels: Apprendimento Probabilistico

#49 Sistemata un po' l'interfaccia
  Netflix_Recommendations_and_Schedule.pdf
  __pycache__/appProb.cpython-312.pyc
  __pycache__/appSup.cpython-312.pyc
  __pycache__/apprNonSup.cpython-312.pyc
  __pycache__/csp.cpython-312.pyc
  __pycache__/eda.cpython-312.pyc
  __pycache__/interface.cpython-312.pyc
  __pycache__/preprocessing.cpython-312.pyc
  interface.py
  user_preferences.json
Labels: interface
